about#About
    .about-wrap
        .col-left
            
        .col-right
            .word-wrap
                h2 
                p.two My name is Hanwen Xu.
                p.two I am a recent Mphil graduate in Architecture and Urban Design from AA Projective Cities. In the mediocre and flat 21st century, I believe that the field of architecture still needs serious research and deep contextual design. Regrettably, it is that much more than what we are creating in the city of today.
                p.two For more information, please contact me at the following email address.