about#About
    .about-wrap
        .col-left
            .portrait
        .col-right
            .word-wrap
                h2 
                p.one My name is Hanwen Xu.
                p.two I am an architecture apprenticeship, second-rate graphic designer and game script writer. In the mediocre and flat 21st century, I believes that the field of architecture still needs serious research and deep contextual design. Regrettably, it is that much more than what we are creating in cities today.


