mixin thumb(pugclass, pughref, image, name, date )
    a(class="article-thumb "+pugclass, href="./posts"+pughref)
        .thumb-image(style='background-image:url(' + require('../images/articles/' +`${image}` + '.jpg') + ')')
        
        .article-meta
            .name= name
            .date= date

articles
    .article-wrap
        .vueArticle.design.show

            +thumb('design',
                    '/The Collapse of the Bubble.html',
                    'design_03',
                    'The Collapse of the Bubble: New Power as New Forms of Living',
                    'Dissertation, AA Projective Cities')
            +thumb('design',
                    '/Workers New Village.html',
                    'design_02',
                    'Workers New Village: the Spatial Sample of Urban in Planned Economy China',
                    '2022 Term2, AA Projective Cities')            
            +thumb('design',
                    '/The Middle Typology.html',
                    'design_01',
                    'The Middle Typology: Public Housing for the New Generation of China',
                    '2021 Term1, AA Projective Cities')
            +thumb('design',
                    '/Folding Longchang.html',
                    'design_04',
                    'Folding Longchang',
                    '2017 Fall Semester, Year 3')
            +thumb('design',
                    '/Project Terrace',
                    'design_05',
                    'Project Terrace',
                    '2018 Spring Semester, Year 3')
            +thumb('design',
                    '/Yuanyang Fish Factory Renovation.html',
                    'design_06',
                    'Yuanyang Fish Factory Renovation',
                    '2019 Fall Semester, Year 4')
            +thumb('design',
                    '/The Moon and Sixpence.html',
                    'design_07',
                    'The Moon and Sixpence',
                    '2020 Spring Semester, Year 4')

    .article-wrap
        .vueArticle.academic
            +thumb('academic',
                    '/Drawing Rooms:Soane, Stirling, Today.html',
                    'academic_01',
                    'Drawing Rooms: Soane, Stirling, Today',
                    'April, 2023')               
            +thumb('academic',
                    '/Kassariani22.html',
                    'academic_02',
                    'Kassariani22',
                    'November, 2022')                
            +thumb('academic',
                    '/Sensitive Urbanity, Atelier Deshaus in Shanghai.html',
                    'academic_03',
                    'Sensitive Urbanity, Atelier Deshaus in Shanghai',
                    'October, 2022') 
            +thumb('academic',
                    '/UNNCxCAA Exhibition.html',
                    'academic_04',
                    'UNNCxCAA Exhibition',
                    'July, 2018')
            
    .article-wrap
        .vueArticle.practice
            +thumb('practice',
                    '/practice-demo.html',
                    'practice_01',
                    'Practice-Demo',
                    'Feb 09, 2020')

    .article-wrap
        .vueArticle.other     
            +thumb('other',
                    '/The Space as Urban-Rural Continuum.html',
                    'other_01',
                    'The Space as Urban-Rural Continuum',
                    'July, 2022')   
            +thumb('other',
                    '/website-development-tutorial.html',
                    'other_02',
                    'Website-Development-Tutorial',
                    'Jan 06, 2020')   
            +thumb('other',
                    '/to-be-continued.html',
                    'other_03',
                    'To-Be-Continued',
                    'Jan 06, 2020')  
