mixin thumb(pugclass, pughref, image, name, date )
    a(class="article-thumb "+pugclass, href="./posts"+pughref)
        .thumb-image(style='background-image:url(' + require('../images/articles/' +`${image}` + '.jpg') + ')')
        
        .article-meta
            .name= name
            .date= date

articles
    .article-wrap
        .vueArticle.design.show
            +thumb('design',
                    '/The Middle Typology.html',
                    'design_01',
                    'The Middle Typology: Public Housing for the New Generation of China',
                    '2021 Term1, AA Projective Cities')
            +thumb('design',
                    '/Workers New Village.html',
                    'design_02',
                    'Workers New Village: the Spatial Sample of Urban in Planned Economy China',
                    '2022 Term2, AA Projective Cities')
            +thumb('design',
                    '/qingdao-restaurant-design.html',
                    'design_03',
                    'Qingdao-Restaurant-Design',
                    'Jan 05, 2018')
            +thumb('design',
                    '/Folding Longchang.html',
                    'design_04',
                    'Folding Longchang',
                    '2017 Fall Semester, Year 3')
            +thumb('design',
                    '/Project Terrace',
                    'design_05',
                    'Project Terrace',
                    '2018 Spring Semester, Year 3')
            +thumb('design',
                    '/Yuanyang Fish Factory Renovation.html',
                    'design_06',
                    'Yuanyang Fish Factory Renovation',
                    '2019 Fall Semester, Year 4')
            +thumb('design',
                    '/The Moon and Sixpence.html',
                    'design_07',
                    'The Moon and Sixpence',
                    '2020 Spring Semester, Year 4')

    .article-wrap
        .vueArticle.research
            +thumb('research',
                    '/reaction-diffusion-systems.html',
                    'research_05',
                    'Reaction-Diffusion-Systems',
                    'Feb 09, 2020')
            +thumb('research',
                    '/future-of-greenland.html',
                    'research_01',
                    'Future-of-Greenland',
                    'Dec 06, 2019')                
            +thumb('research',
                    '/camera-positioning.html',
                    'research_02',
                    'Camera-Positioning',
                    'Jun 13, 2019')                
            +thumb('research',
                    '/uwb-positioning.html',
                    'research_03',
                    'UWB-Positioning',
                    'Jan 09, 2019')
            +thumb('research',
                    '/kaihua-temple-research.html',
                    'research_04',
                    'Kaihua-Temple-Research',
                    'Jul 05, 2017')              

    .article-wrap
        .vueArticle.other     
            +thumb('other',
                    '/my-personal-website.html',
                    'other_01',
                    'My-Personal-Website',
                    'Jan 02, 2020')   
            +thumb('other',
                    '/website-development-tutorial.html',
                    'other_02',
                    'Website-Development-Tutorial',
                    'Jan 06, 2020')   
            +thumb('other',
                    '/to-be-continued.html',
                    'other_03',
                    'To-Be-Continued',
                    'Jan 06, 2020')  
