tabs#Work
    .button-wrap
        .buttons
            button(class='dynamicTabs design').is-active Design
            button(class='dynamicTabs academic') Academic
            button(class='dynamicTabs practice') Practice 
            button(class='dynamicTabs other') Other        